.content {
  min-height: calc(100vh - 5.25rem);
}

.welcome {
  text-align: center;
}

.welcome-p {
  text-align: left;
}

.landing-page {
  text-align: center;
  padding: 3rem;
  max-width: 800px;
}

#landing-page-btn {
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: .25em;
}

#landing-page-btn:hover {
  background-color: #7CC6FE;
}

.setup-ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  padding: 0 1.5em ;
}

.setup-li {
  color: #7CC6FE;
}

@media screen and (min-width: 400px) {
  .setup-ul {
    padding: 0 3em ;
  }
}