.content {
    background-color: #0D0106;
    color: #F4FAFF;
}

.search-wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin-top: .3em;
    width: 100%;
    font-size: 1rem;
}

.results-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-page-btn {
    font-size: 1.125rem;
    margin-top: 1em;
    align-self: center;
}
  
#search-page-btn:hover {
    background-color: #7CC6FE;
}

.search-form {
    display: flex;
    flex-direction: column;
    min-width: 75%;
}

@media screen and (min-width: 490px) {
    .results-section {
        padding: 1rem;
        display: grid;
        align-items: center;
    }
}