.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #363732;
  height: 3.25rem;
  align-items: center;
  color: #F4FAFF;
}

.nav-links {
  list-style-type: none;
  display: inline;
}

.nav-btn {
    background: none;
    border: none;
    padding: 0;
    color: #F4FAFF;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.15rem;
}

.nav-btn:hover {
  border-bottom: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
}

.login-btn:active {
  border-bottom: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
}

.logout-btn:hover {
  border-bottom: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
}

.nav-links > li {
  display: inline;
  margin-right: .8rem;
}

.logo {
  margin-right: auto;
  margin-left: .4rem;
}

.logo:hover {
  border-bottom: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
}

.login-box {
  text-align: center;
  margin-top: .3em;
  position: absolute;
  right: 5px;
  background-color: #7CC6FE;
  display: flex;
  flex-basis: 10px;
  align-items: center;
  opacity: .95;
}

@media screen and (min-width: 420px) {
  .logo {
    margin-left: 2rem;
  }
  .nav-links > li {
    margin-right: 2rem;
  }
}