.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: darkgrey;
  height: 3.25rem;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: inline;
  
}

.nav-links > li {
  display: inline;
  margin-right: .8rem;
}

.logo {
  margin-right: auto;
  margin-left: .4rem;
}

@media screen and (min-width: 420px) {
  .logo {
    margin-left: 2rem;
  }
  .nav-links > li {
    margin-right: 2rem;
  }
}