.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: darkgrey;
  height: 4rem;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: inline;
  
}

.nav-links > li {
  display: inline;
  margin-right: 2rem;
}

.logo {
  margin-right: auto;
  margin-left: 2rem;
}