.poster {
  max-width: 100%;
  margin-left: auto;
  max-height: 200px;
  align-self: center;
}

.poster:hover {
  border-style: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
}

a.poster{
  margin-left: auto;
  margin-right: auto;
  max-height: 50%;
}

.result-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-details {
  text-align: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.provider-icon {
  max-width: 80px;
  max-height: 40px;
  margin-right: .5rem;
  margin-left: .5rem;
  filter: brightness(4);
}

.provider-icon:hover{
  filter: hue-rotate(90deg)
}

.result-title {
  margin: .5rem;
}

.result-title:hover {
  border-bottom: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
}

h6 {
  margin: .2rem;
}

@media screen and (min-width: 600px) {
  .provider-icon {
    max-width: 85px;
  }

  .poster {
    min-height: 80%;
    min-width: 100%;
  }
  .result-item {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
  }
  .icons {
    margin-top: 1rem;
  }
}