.poster {
  max-width: 100%;
  margin-left: auto;
  max-height: 200px;
  align-self: stretch;
  transition: 
  transform 500ms cubic-bezier(.5, 0, .5, 1),
  opacity 250ms linear;
}

.poster:hover {
  border-style: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
  transform: scale(1.2);
  opacity: .95;
}

a.poster{
  margin-left: auto;
  margin-right: auto;
  max-height: 50%;
}

.result-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.result-details {
  text-align: center;
  margin-left: 1em;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.result-item +.result-item {
  margin-top: 1.3em;
}

.provider-icon {
  max-width: 80px;
  max-height: 40px;
  margin-right: .5rem;
  margin-left: .5rem;
  filter: brightness(4);
}

.provider-icon:hover {
  filter: brightness(2);
}

.result-title {
  margin: .5rem;
  margin-top: 1em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.result-title:hover {
  border-bottom: inset;
  border-color: #7CC6FE;
  border-width: .2em;
  color: #7CC6FE;
}

h6 {
  margin: .5rem;
  font-size: .95rem;
}

@media screen and (min-width: 600px) {
  .provider-icon {
    max-width: 85px;
  }
  .result-title {
    margin-top: .5em;
    margin-bottom: 1em;
  }
  .poster-div {
    height: 100%; 
  }
  .poster{
    height: 100%;
  }
  .result-item {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 4fr 8fr;
  }
  .icons {
    margin-top: 1rem;
  }
}