html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #252A34;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:inherit;
}

a:hover 
{
     color:#7CC6FE; 
     text-decoration:none; 
     cursor:pointer;  
}

body {
  font-family: 'Josefin Sans', 'Open Sans';
}

button {
  font-family: 'Josefin Sans', 'Open Sans';
  font-weight: bold;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
  .provider-icon {
    min-width: 95px;
  }
}
