.detail-container {
  padding: 2em;
  text-align: center;
  padding-bottom: 6em;
}

.details-poster {
  max-width: 80%;
}

@media screen and (min-width: 1000px) {
  .details-poster {
    max-width: 800px;
  }
  .detail-container {
    padding-bottom: 4em;
  }
}